/*Carolina Gaming Webpage css file*/
/*styling for the whole page goes here*/
/*
COLORS:
dark blue: #01194E
light blue: #5391CE
white: #FFFFFF
*/
/* removes default margin */
* {
  margin: 0;
}

body {
  margin: 0px;
  background-image: url("images/blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; /* helps with drop down menu styling*/
  position: relative; /* helps with drop down menu styling*/
}

main {
  font-size: 16px;
  /* helps with drop down menu styling*/
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* helps with drop down menu styling*/
}

/****************ALL HEADER STYLING *******************/
.nav-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin-left: 150px;
  border-radius: 15px;
  background-color: #01194E;
  padding: 10px 10px 0px 10px;
}

#cgtitle {
  padding-left: 10px;
}

.nav-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI";
}

.nav-header-links {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: block;
  padding-right: 150px;
}

.header2 {
  display: block;
  padding: 5px;
}

.header-item {
  display: inline;
  padding: 8px;
  color: white;
}

.header-item-a {
  display: inline;
  padding: 8px;
  color: white;
}

.link {
  text-decoration: none;
  color: #6c757d;
  font-family: "Segoe UI";
}

.link:hover {
  color: white;
}

.link-active {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

/*********************************************************/
/****************ALL FOOTER STYLING **********************/
footer {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-footer {
  padding-left: 60px;
  padding-right: 60px;
}

.footer-item {
  padding: 8px;
  margin: 10px;
  background-color: #ffffff;
  position: relative;
  list-style: none
}

.footers {
  color: white;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rights {
  color: white;
}

/*****************************************************************/
/****************ALL HOMEPAGE/INDEX.HTML STYLING *****************/
.home-container1 {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62676C;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-bottom-color: #343a40;
}
.home-container2{
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.home-container3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 500px;
}

#wwd{
  font-size: 4rem;
  max-width: 450px;

  line-height: 1;
  text-shadow: 1px 1px 0 rgb(69, 95, 152), 4px 4px 0 rgba(1, 25, 78, 0.40);
  color: white;
  font-weight: 700;
  font-family: calibri,sans-serif;
}

.topic{
  color: white;
  width: 300px;
  height: 300px;
  background-color: #343a40;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-family: calibri,sans-serif;
  font-size: 1.25rem;
}

#streamLink{
  color: black;
  width: 300px;
  height: 300px;
  background-color: white;
  text-align: center;
  background-image: url("images/bluebrigade_white.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contentLink1{
  color: black;
  width: 300px;
  height: 140px;
  background-color: white;
  text-align: center;
  background-image: url("images/cgyt.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contentLink2{
  color: black;
  width: 300px;
  height: 160px;
  background-color: white;
  text-align: center;
  background-image: url("images/breaking.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#communityLink1{
  color: black;
  width: 300px;
  height: 100px;
  background-color: white;
  text-align: center;
  background-image: url("images/disc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#communityLink2{
  color: black;
  width: 300px;
  height: 100px;
  background-color: white;
  text-align: center;
  background-image: url("images/twit.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#communityLink3{
  color: black;
  width: 300px;
  height: 100px;
  background-color: white;
  text-align: center;
  background-image: url("images/insta.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hometitle {
  background-color: #5391CE;
  padding: 20px;
  padding-bottom: 80px;
  padding-top: 60px;
}

.hometitle h1 {
  font-size: 60pt;
}

.slideshow {
  text-align: center;
  width: 800px;
}

/*****************************************************************/
/*******************ALL TEAMMATES STYLING ************************/
.section-container {
  text-align: center;
  margin: 50px;
  background-color: rgba(83, 145, 206, 0.5);
  padding-top: 20px;
  width: 1000px;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.teammate {
  margin: 10px;
}

#cod {
  margin-top: 25px;
}

.cgteam {
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: ridge;
}

#accordion-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 400px;
}

#accordion{
  background: #fff;
  padding: 4em 2em 1em 2em;
  width: 1200px;
  margin: 50px auto 0;
  box-shadow: 0 0 2em #B2B2B2;
  border-radius: 40px;
  padding-bottom: 200px;
}


/*****************************************************************/
/****************ALL CONTACT AND ABOUT STYLING *******************/
.subtitle {

  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 30pt;
  padding: 20px;

}

.dateItems {
  list-style: none
}

  .about-container {
  text-align: center;
  margin: 50px;
  font-family: calibri,sans-serif;
  padding-top: 20px;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;

}

.info-container {
  text-align: justify;
  width:600px;
  padding-right: 50px;
  line-height: 30px;
}

.employees{
  height: 1000px;
  width: 00px;
  background-image: url("images/insta.png");
}

#emp1{
  height:400px;
  width:304px;
  background-image: url("images/rsz_bryson.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px
}

#emp2{
  height:400px;
  width:304px;
  background-image: url("images/rsz_sterling.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  color: #6c757d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/****************ALL DROP DOWN STYLING *******************/
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #f1f1f1;
  color: darkgrey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  color: white;
}

#t ul>li {
  display: none;
  text-decoration: none;
}

#t ul {
  position: absolute;
  display: inline-block;
  right: 70px;
  top: 75px;
  text-decoration: none;
}

#t ul>li {
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}


/****************ALL COD MW STATS STYLING *******************/
.home-container {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#codstats{
  min-width: 500px;
  min-height: 350px;
  background-image: url("images/blacktech.jpg");
  border: 5px solid black;
  border-radius: 30px;
  box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 1);
  margin-top: 20px;
}

#radioButtons{
  display:inline;
}
#blizzardtag{
  width: 40px;
}
#gamertag{
  width: 120px;
}

form{
  width: 300px;
  height: 200px;
  margin-left: 100px;
  padding-top: 20px;
  border: 5px solid black;
  border-bottom: none;
  border-top: none;
  background-color: rgba(0, 0, 0, .6)

}
#data{
  width: 300px;
  height: 200px;
  margin-left: 100px;
  border: 5px solid black;
  border-top: none;
  background-color: rgba(0, 0, 0, .6)

}
input[id=sub]{
  background-color: white;
  border: none;
  color: black;
  padding: 8px 80px;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

p{
  float: left;
  padding-left: 60px;
}

.dataItem{
  padding: 0;
  color: #52bafe;
}

#inputArea{
  margin-top: 15px;
}

#sub{
  margin-top: 15px;
}

#titleBlock{
  display: block;
  height: 40px;
  width: 500px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 16pt;
  padding-top: 10px;
}
